
@{
    ViewBag.Title = "Under Construction";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BC Insight | Under Construction</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
</head>

<body class="hold-transition login-page">
    <div class="login-box" style="margin-top:8%; height:480Px;width:100%">
        <div class="login-logo">
            <a href="@Url.Action("Index","Home")"><b>BC</b>Insight</a>
        </div>

        <div class="card" style="height:280Px">
            <div class="card-body">
                <p style="text-align:center; font-size:60Px; color:cornflowerblue"><strong>UNDER CONSTRUCTION</strong></p>
                <p style="text-align:center; font-size:20Px;">Hello! We're currently building this section. Please come back later. </p>
                <p style="text-align:center; font-size:30Px;">- The .Net Team</p>
                <h3 style="text-align:center;"><a href="@Url.Action("Index","Home")">Go Home</a></h3>
            </div>

        </div>
    </div>
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/dist/js/adminlte.min.js"></script>
</body>
@*<div style="background-color:lightgray; margin-top:5%; height:480Px;width:100%">

        <img src="~/dist/img/under_construction_by_creamania.jpg" style="width:100%;height:95%;" />
    </div>*@

</html>
